{% extends 'core/base.html' %}

{% block title %}
    Producto
{% endblock title %}

{% block body_title %}
    App Producto
{% endblock body_title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Categorías de Productos</h5>
                    <a href="{% url 'producto:productocategoria_list' %}" class="btn btn-primary">Lista de categorías de productos</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Crear Categoría de Productos</h5>
                    <a href="{% url 'producto:productocategoria_create' %}" class="btn btn-primary">Crear categoría de productos</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Productos</h5>
                    <a href="{% url 'producto:producto_list' %}" class="btn btn-primary">Lista de productos</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Crear Productos</h5>
                    <a href="{% url 'producto:producto_create' %}" class="btn btn-primary">Crear de productos</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}