{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Rectificaciones Anton
{% endblock title %}

{% block body_title %}
Mis trabajos
{% endblock body_title %}

{% block content %}
    <h2>Trabajos en Curso</h2>
    <ul>
        {% for trabajo in trabajos_en_curso %}
            <li>{{ trabajo.nombre_trabajo }} - Fecha de entrada: {{ trabajo.fecha_entrada }}</li>
        {% empty %}
            <li>No hay trabajos en curso.</li>
        {% endfor %}
    </ul>

    <h2>Trabajos Pasados</h2>
    <ul>
        {% for trabajo in trabajos_pasados %}
            <li>{{ trabajo.nombre_trabajo }} - Fecha de entrada: {{ trabajo.fecha_entrada }}, Fecha de retiro: {{ trabajo.fecha_retiro }}</li>
        {% empty %}
            <li>No hay trabajos pasados.</li>
        {% endfor %}
    </ul>
{% endblock content %}
