{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Cliente
{% endblock title %}

{% block body_title %}
    Mi cuenta
{% endblock body_title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-5">
                <div class="card-header">
                    <h2 class="card-title">Datos del Cliente</h2>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.nombre.label_tag }}
                            {{ form.nombre }}
                        </div>
                        <div class="mb-3">
                            {{ form.apellido.label_tag }}
                            {{ form.apellido }}
                        </div>
                        <div class="mb-3">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                        </div>
                        <div class="mb-3">
                            {{ form.telefono.label_tag }}
                            {{ form.telefono }}
                        </div>
                        <div class="mb-3">
                            {{ form.fecha_nacimiento.label_tag }}
                            {{ form.fecha_nacimiento }}
                        </div>
                        <div class="mb-3">
                            {{ form.contrasena.label_tag }}
                            {{ form.contrasena }}
                        </div>
                        <div class="mb-3">
                            {{ form.pais_origen.label_tag }}
                            {{ form.pais_origen }}
                        </div>
                        <div class="mb-3">
                            {{ form.foto_perfil.label_tag }}
                            {{ form.foto_perfil }}
                        </div>
                        <button type="submit" class="btn btn-info">Guardar cambios</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
