<!-- Footer-->
<footer class="pie row">
    <!-- Contacto -->
    <div class="contacto col-sm-12 col-md-6 col-l-4 col-xl-4">
      <a href="href="https://wa.me/5493544610615" target="_blank" class="btn btn-primary">Whatsapp</a>
         <h5 class="display-3">✉️ Mail: info@recanton.com.ar</h5>
    </div>
    <!-- Consulta -->
    <div class="consulta col-sm-12 col-md-10 col-l-4 col-xl-4">
        <form action="">
          <h3 class="display-4">¡Envíanos tu consulta!</h3>
            <div class="mb-3">
                <label for="FormControlInput1" class="form-label">Nombre y Apellido</label>
                <input type="text" class="form-control" id="FormControlInput1" placeholder="Nombre Apellido">
            </div>
            <div class="mb-3">
                <label for="FormControlInput2" class="form-label">Teléfono</label>
                <input type="number" class="form-control" id="FormControlInput2" placeholder="0000-000000">
              </div>
            <div class="mb-3">
                <label for="FormControlInput3" class="form-label">Mail</label>
                <input type="email" class="form-control" id="FormControlInput3" placeholder="nombre@gmail.com">
              </div>
              <div class="mb-3">
                <label for="FormControlTextarea4" class="form-label">Escribe aquí tu consulta</label>
                <textarea class="form-control" id="FormControlTextarea4" rows="3"></textarea>
              </div>
        </form>
    </div>
    <!-- Ubicación -->
    <div class="ubicacion col-sm-12 col-md-12 col-l-4 col-xl-4">
      <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1552.2802010066612!2d-65.18001858032727!3d-31.946058238043445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x942cd567eb01fbbd%3A0x5f66a5595d18a286!2sAnton%20Rectificaciones%20SRL!5e0!3m2!1ses!2sar!4v1685313690636!5m2!1ses!2sar" title="mapa"></iframe>
      <h5 class="display-3">Avenida Belgrano 777, Villa Dolores, Córdoba - Argentina</h5>  
    </div>    
</footer>