{% extends 'core/base.html' %}

{% block title %}
    Producto | Productos
{% endblock title %}

{% block body_title %}
    {% if form.instance.pk %}
        Producto - Productos: Edición
    {% else %}
        Producto - Productos: Creación
    {% endif %}
{% endblock body_title %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit">Guardar</button>
    </form>
{% endblock content %}
