{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Rectificaciones Anton
{% endblock title  %}

{% block body_title %}
    Rectificaciones Anton
{% endblock body_title %}


{% block content %}
      <!-- Page Content-->
      <div class="container px-4 px-lg-5">
        <!-- Heading Row-->
        <div class="container">
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'core/img/local-actual.webp' %}" alt="..." />
                </div>
                <div class="col-lg-5">
                    <h1 class="display-4">Rectificaciones Anton</h1>
                    <p class="lead">Rectificaciones Antón fue fundada por Humberto Claudio Antón hace más de 50 años para satisfacer las necesidades de rectificación y reparación de motor del Valle de Traslasierras, años más tardes sus hijos comenzaron a trabajar con él mientras la empresa crecía de forma acelerada. Durante su crecimiento fueron incorporando nuevas maquinarias y tecnología para brindar un mejor servicio; como así también agregaron la venta de repuestos para motores nacionales o importados, nafteros o gasoleros, además cuenta con una línea completa de lubricantes ELF y todo lo necesario para tu motor. En su moderno taller de rectificación, se realiza la reparación total, armado de motores de distintos tipos, también se dispone de un banco de pruebas el cual permite garantizar un perfecto funcionamiento del motor.</p>
                    <a href="https://wa.me/5493544610615" target="_blank">
                        <img src=" {% static 'core/img/wpp.webp' %}" alt="WhatsApp" style="width: 50px; height: 50px;">
                    </a>
                    </a>
                </div>
            </div>
        </div>
{% endblock content %}